{% extends "base.html" %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block slider %}
{% include "slider_static.html" %}
{% endblock %}



{% block content %}
	<!-- Content
			============================================= -->
<div class="container clearfix">
	{% for y in articles|findbytag(tag="goals") %}
	<div class="col_one_third">
		<div class="feature-box fbox-border fbox-effect">
			<div class="fbox-icon">
				<a href="#"><i class="{{y.icon}} i-alt"></i></a>
			</div>
			<h3>{{y.title}}</h3>
			{{y.content}}
		</div>
	</div>
	{% endfor  %}
</div>


	<div class="clear"></div>
	{% with promo = articles|findbyslug(slug="promo") %}{% if promo %}
	<div class="promo topmargin-lg promo-border bottommargin-lg promo-full">
		<div class="container clearfix">

			<h3>{{promo.title}}</h3>
			<span>{{promo.summary}}</span>
			<a href={{promo.link}} class="button button-xlarge button-rounded">{{promo.call}}</a>
		</div>
	</div>{% endif %}
	{% endwith %}
	
	<div class="container clearfix">
		{% with side_nav = articles|findbytag(tag='side') %}
		<div id="side-navigation">

			<div class="col_one_third nobottommargin">

				<ul class="sidenav">
					{% for art in side_nav %}
					<li><a href="#{{art.slug}}"><i class="{{art.icon}}"></i>{{art.stitle}}<i class="icon-chevron-right"></i></a></li>
					{% endfor %}
				</ul>

			</div>
			
			<div class="col_two_third col_last nobottommargin">
				{% for art in side_nav %}
				<div id="{{art.slug}}">
					<div class="heading-block">
						<h3>{{art.title}}</h3>
						<span>{{art.stitle}}</span>
					</div>
					<img src="{{art.image}}" alt="{{art.image_desciption}}" class="alignleft" style="max-width: 320px;">
					{{art.content}}
				</div>
				{% endfor %}
			</div>

		</div>
		{% endwith %}


		<div class="clear"></div>
		<div class="line"></div>
		{% with partners=articles|findimagelist(slug="company_docs") %}
		<h4 class="center">{{partners.title}}</h4>
			<div class="container clearfix">
			
				<!-- <div class="postcontent nobottommargin"> -->
					<div class="col_full masonry-thumbs grid-2" data-lightbox="gallery">
		<!-- <ul class="clients-grid grid-6 bottommargin clearfix"> -->
		
			{% for art in partners %}
			<a href="/images/{{art}}" data-lightbox="gallery-item"><img class="image_fade" src="/images/{{art}}" alt="{{partners.title}}"></a>
			<!-- <li><a href="#"><img src="/images/{{art}}" alt="{{partners.title}}"></a></li> -->
			{% endfor %}
		<!-- </ul> -->
				</div>
			{% endwith %}
			<!-- </div> -->
		</div>
		

	</div>
	{% with message=articles|findbyslug(slug="broadcast-message") %}
	<a href="{{message.url}}" class="button button-full center tright footer-stick">
		<div class="container clearfix">
			{{message.scontent}}  <i class="icon-caret-right" style="top:4px;"></i>
		</div>
	</a>
	{% endwith %}
{% endblock %}

<!-- Footer
		============================================= -->
<footer id="footer" class="dark">

	<div class="container">

		<!-- Footer Widgets
				============================================= -->
		<div class="footer-widgets-wrap clearfix">

			<div class="col_two_third">

				<div class="col_one_third">

					<div class="widget clearfix">

						<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

						<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

						<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
							<address>
								<strong>Headquarters:</strong><br>
								795 Folsom Ave, Suite 600<br>
								San Francisco, CA 94107<br>
							</address>
							<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
							<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
							<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
						</div>

					</div>

				</div>

				<div class="col_one_third">

					<div class="widget widget_links clearfix">

						<h4>Blogroll</h4>

						<ul>
							<li><a href="http://codex.wordpress.org/">Documentation</a></li>
							<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
							<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
							<li><a href="http://wordpress.org/support/">Support Forums</a></li>
							<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
							<li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
							<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
						</ul>

					</div>

				</div>

				<div class="col_one_third col_last">

					<div class="widget clearfix">
						<h4>Recent Posts</h4>

						<div id="post-list-footer">
							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>

							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>

							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="col_one_third col_last">

				<div class="widget clearfix" style="margin-bottom: -20px;">

					<div class="row">

						<div class="col-lg-6 bottommargin-sm">
							<div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
							<h5 class="nobottommargin">Total Downloads</h5>
						</div>

						<div class="col-lg-6 bottommargin-sm">
							<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
							<h5 class="nobottommargin">Clients</h5>
						</div>

					</div>

				</div>

				<div class="widget subscribe-widget clearfix">
					<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
					<div class="widget-subscribe-form-result"></div>
					<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="nobottommargin">
						<div class="input-group divcenter">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="icon-email2"></i></div>
							</div>
							<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
							<div class="input-group-append">
								<button class="btn btn-success" type="submit">Subscribe</button>
							</div>
						</div>
					</form>
				</div>

				<div class="widget clearfix" style="margin-bottom: -20px;">

					<div class="row">

						<div class="col-lg-6 clearfix bottommargin-sm">
							<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
						</div>
						<div class="col-lg-6 clearfix">
							<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
							<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
						</div>

					</div>

				</div>

			</div>

		</div><!-- .footer-widgets-wrap end -->

	</div>

	<!-- Copyrights
			============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
				<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
			</div>

			<div class="col_half col_last tright">
				<div class="fright clearfix">
					<a href="#" class="social-icon si-small si-borderless si-facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-gplus">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-pinterest">
						<i class="icon-pinterest"></i>
						<i class="icon-pinterest"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-vimeo">
						<i class="icon-vimeo"></i>
						<i class="icon-vimeo"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-yahoo">
						<i class="icon-yahoo"></i>
						<i class="icon-yahoo"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
				</div>

				<div class="clear"></div>

				<i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
			</div>

		</div>

	</div><!-- #copyrights end -->

</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
	============================================= -->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>

<!-- Footer Scripts
	============================================= -->
<script src="js/functions.js"></script>


</body>

</html>
