{% extends "base.html" %}

{% block header %}{{articles|make_list(pages=pages, category=categories, tags=tags)}}
{% include "header.html" %}
{% endblock %}
{% block slider %}
{% include "slider.html" %}
{% endblock %}



{% block content %}
	<!-- Content
			============================================= -->
	{% for y in articles|find(tag="home", category="graphical-info") %}
	<div class="col_one_third">
		<div class="feature-box fbox-border fbox-effect">
			<div class="fbox-icon">
				<a href="#"><i class="{{y.icon}} i-alt"></i></a>
			</div>
			<h3>{{y.title}}</h3>
			{{y.content}}
		</div>
	</div>
	{% endfor  %}

	<div class="clear"></div>
	{% with promo = articles|findbyslug(slug="promo") %}
	<div class="promo topmargin-lg promo-border bottommargin-lg promo-full">
		<div class="container clearfix">

			<h3>{{promo.title}}</h3>
			<span>{{promo.summary}}</span>
			<a href={{promo.link}} class="button button-xlarge button-rounded">{{promo.call}}</a>
		</div>
	</div>
	{% endwith %}
	<div class="container clearfix">

		<div id="side-navigation">

			<div class="col_one_third nobottommargin">

				<ul class="sidenav">
					<li class="ui-tabs-active"><a href="#snav-content1"><i class="icon-screen"></i>Responsive Layout<i class="icon-chevron-right"></i></a></li>
					<li><a href="#snav-content2"><i class="icon-magic"></i>Retina Ready Display<i class="icon-chevron-right"></i></a></li>
					<li><a href="#snav-content3"><i class="icon-star3"></i>Fast Performance<i class="icon-chevron-right"></i></a></li>
					<li><a href="#snav-content4"><i class="icon-gift"></i>Bootstrap 3.2 Compatible<i class="icon-chevron-right"></i></a></li>
					<li><a href="#snav-content5"><i class="icon-adjust"></i>Light &amp; Dark Scheme<i class="icon-chevron-right"></i></a></li>
				</ul>

			</div>

			<div class="col_two_third col_last nobottommargin">

				<div id="snav-content1">
					<div class="heading-block">
						<h3>Flexible Responsive Layout</h3>
						<span>We support multiple Devices &amp; Layouts.</span>
					</div>
					<img src="images/others/mac-phone.png" alt="Image" class="alignleft" style="max-width: 320px;">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo rerum facilis deserunt maxime perspiciatis suscipit numquam ipsam, quisquam nesciunt, expedita voluptas et placeat odio nisi dolorum. Ab minus nam tenetur accusamus eligendi
						maiores natus ipsum ratione possimus a, nostrum atque!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur tempora perferendis maiores saepe voluptatibus possimus, voluptatum laborum. Veritatis deleniti expedita veniam quo eum commodi laboriosam illo obcaecati sit in, illum
						saepe neque voluptas quis, ullam porro autem. Qui incidunt amet eum dolores expedita, sit laudantium, saepe. Nam tempore rerum, quibusdam est quia impedit rem unde nostrum voluptatum minus ipsa quam fugiat ullam voluptatibus neque accusamus
						modi eos veniam. Dolor, reiciendis.</p>
				</div>

				<div id="snav-content2">
					<div class="heading-block">
						<h3>Brilliant Retina Display</h3>
						<span>Crisp &amp; Clear Graphics across all your Retina &amp; Standard Devices.</span>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis praesentium quaerat blanditiis incidunt corporis, odit placeat dolorum. Voluptate laborum facere reprehenderit dolores repudiandae voluptatibus earum quod dignissimos odit!
						Aperiam optio delectus dolorum, fugit praesentium aut voluptate autem, sapiente labore architecto magni cumque magnam nobis, error accusamus soluta. Facilis, architecto, eos!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur quaerat vero qui ipsum sunt velit vel, officia, nihil amet ullam. Omnis nam rerum, harum!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima perspiciatis cumque, ipsa laudantium totam blanditiis, expedita ut odit, cupiditate rem facilis ea ab, hic amet numquam nulla possimus consectetur ipsum fuga! Atque
						quibusdam, id eius illum numquam porro architecto accusamus nam adipisci mollitia excepturi dolores non, maiores sit fuga vero cumque ullam. Vitae quidem totam similique tempore eligendi necessitatibus culpa.</p>
				</div>

				<div id="snav-content3">
					<div class="heading-block">
						<h3>Powerful &amp; Optimized Code</h3>
						<span>Smart Reusable code all throughout the Template for Infinite Customizations.</span>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit perferendis quisquam quod eius illo possimus id maiores consequatur accusamus commodi?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, optio animi adipisci distinctio fuga, nihil perferendis dignissimos. Aperiam odio voluptatem dignissimos aliquam? Ea, nihil animi, recusandae quos nulla, suscipit magni
						provident nesciunt incidunt quo dicta asperiores iste. Illo, qui culpa. Reprehenderit in asperiores blanditiis pariatur aliquid iusto. Quisquam voluptatibus nostrum architecto repudiandae voluptate, ipsum quae iure! Commodi recusandae,
						repellendus voluptas fugiat aspernatur culpa quod delectus quidem consequatur odio assumenda saepe inventore molestiae ea expedita hic dolorum distinctio ut! Maiores, error.</p>
				</div>

				<div id="snav-content4">
					<div class="heading-block">
						<h3>Bootstrap Compatible</h3>
						<span>Use the amazing features of the Bootstrap Framework.</span>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam facilis reiciendis maxime minus, iusto molestiae dolor veritatis officia cumque a sit, ducimus iste beatae eos harum fugit. Fuga et, iste sequi ea quibusdam doloremque delectus.
						Ducimus delectus incidunt, deleniti assumenda dignissimos magni, quo laboriosam architecto dolorum, facere cum tempore, totam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum esse odio, voluptatem, fuga dolore labore. Voluptate, tenetur. Ab temporibus sed adipisci dolor ipsa cumque iusto maiores dolorum molestias magni expedita pariatur modi facere
						cupiditate eius quas, officiis eligendi cum veritatis dolore autem? Inventore vero doloremque sunt, et modi eos placeat.</p>
				</div>

				<div id="snav-content5">
					<div class="heading-block">
						<h3>Light &amp; Dark Schemes</h3>
						<span>Use the dual tone schemes or mix them according to your needs.</span>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptas eveniet, recusandae ducimus commodi, maiores voluptatem consequuntur autem quod id molestiae quam nulla minus aliquam nobis laboriosam nisi ut aut adipisci esse
						omnis at. Voluptatem, natus distinctio minus possimus, aliquid magnam ratione. Adipisci odit nemo voluptatum quas animi, amet et fuga quisquam possimus, dolore id sint eum consequuntur, magnam aliquid impedit doloremque voluptates, ducimus
						laboriosam. Sint quisquam molestias libero voluptatum.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nisi nemo et esse. Fugiat facere harum, error iusto assumenda illo debitis quas, fugit similique minima.</p>
				</div>

			</div>

		</div>


		<div class="clear"></div>
		<div class="line"></div>

		<h4 class="center">Meet our Clients</h4>

		<ul class="clients-grid grid-6 bottommargin clearfix">
			<li><a href="http://logofury.com/logo/enzo.html"><img src="images/clients/1.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com"><img src="images/clients/2.png" alt="Clients"></a></li>
			<li><a href="http://logofaves.com/2014/03/grabbt/"><img src="images/clients/3.png" alt="Clients"></a></li>
			<li><a href="http://logofaves.com/2014/01/ladera-granola/"><img src="images/clients/4.png" alt="Clients"></a></li>
			<li><a href="http://logofaves.com/2014/02/hershel-farms/"><img src="images/clients/5.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/food-fight-radio.html"><img src="images/clients/6.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com"><img src="images/clients/7.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/up-travel.html"><img src="images/clients/8.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/caffi-bardi.html"><img src="images/clients/9.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/logo/bignix-design.html"><img src="images/clients/10.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/"><img src="images/clients/11.png" alt="Clients"></a></li>
			<li><a href="http://logofury.com/"><img src="images/clients/12.png" alt="Clients"></a></li>
		</ul>

	</div>

	<a href="#" class="button button-full center tright footer-stick">
		<div class="container clearfix">
			Canvas comes with Unlimited Customizations &amp; Options. <strong>Check Out</strong> <i class="icon-caret-right" style="top:4px;"></i>
		</div>
	</a>

{% endblock %}

<!-- Footer
		============================================= -->
<footer id="footer" class="dark">

	<div class="container">

		<!-- Footer Widgets
				============================================= -->
		<div class="footer-widgets-wrap clearfix">

			<div class="col_two_third">

				<div class="col_one_third">

					<div class="widget clearfix">

						<img src="images/footer-widget-logo.png" alt="" class="footer-logo">

						<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

						<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
							<address>
								<strong>Headquarters:</strong><br>
								795 Folsom Ave, Suite 600<br>
								San Francisco, CA 94107<br>
							</address>
							<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
							<abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
							<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
						</div>

					</div>

				</div>

				<div class="col_one_third">

					<div class="widget widget_links clearfix">

						<h4>Blogroll</h4>

						<ul>
							<li><a href="http://codex.wordpress.org/">Documentation</a></li>
							<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
							<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
							<li><a href="http://wordpress.org/support/">Support Forums</a></li>
							<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
							<li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
							<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
						</ul>

					</div>

				</div>

				<div class="col_one_third col_last">

					<div class="widget clearfix">
						<h4>Recent Posts</h4>

						<div id="post-list-footer">
							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>

							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>

							<div class="spost clearfix">
								<div class="entry-c">
									<div class="entry-title">
										<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
									</div>
									<ul class="entry-meta">
										<li>10th July 2014</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="col_one_third col_last">

				<div class="widget clearfix" style="margin-bottom: -20px;">

					<div class="row">

						<div class="col-lg-6 bottommargin-sm">
							<div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
							<h5 class="nobottommargin">Total Downloads</h5>
						</div>

						<div class="col-lg-6 bottommargin-sm">
							<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
							<h5 class="nobottommargin">Clients</h5>
						</div>

					</div>

				</div>

				<div class="widget subscribe-widget clearfix">
					<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
					<div class="widget-subscribe-form-result"></div>
					<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="nobottommargin">
						<div class="input-group divcenter">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="icon-email2"></i></div>
							</div>
							<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
							<div class="input-group-append">
								<button class="btn btn-success" type="submit">Subscribe</button>
							</div>
						</div>
					</form>
				</div>

				<div class="widget clearfix" style="margin-bottom: -20px;">

					<div class="row">

						<div class="col-lg-6 clearfix bottommargin-sm">
							<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
						</div>
						<div class="col-lg-6 clearfix">
							<a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
							<a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
						</div>

					</div>

				</div>

			</div>

		</div><!-- .footer-widgets-wrap end -->

	</div>

	<!-- Copyrights
			============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
				<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
			</div>

			<div class="col_half col_last tright">
				<div class="fright clearfix">
					<a href="#" class="social-icon si-small si-borderless si-facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-gplus">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-pinterest">
						<i class="icon-pinterest"></i>
						<i class="icon-pinterest"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-vimeo">
						<i class="icon-vimeo"></i>
						<i class="icon-vimeo"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-yahoo">
						<i class="icon-yahoo"></i>
						<i class="icon-yahoo"></i>
					</a>

					<a href="#" class="social-icon si-small si-borderless si-linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
				</div>

				<div class="clear"></div>

				<i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
			</div>

		</div>

	</div><!-- #copyrights end -->

</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
	============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
	============================================= -->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>

<!-- Footer Scripts
	============================================= -->
<script src="js/functions.js"></script>


</body>

</html>
