
<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix" data-effect="fade" data-loop="true" data-speed="1000" data-progress="true">

	<div class="slider-parallax-inner">

		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				{% for slider in tags|sliders %}
				<div class="swiper-slide dark" style="background-image: url('{{static}}/images/{{slider.image}}');">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-animate="fadeInUp">{{slider.title}}</h2>
							<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">{{slider.content|striptags}}</p>
						</div>
					</div>
				</div>
				{% endfor %}


			</div>
			<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
		</div>

	</div>
</section>
<script>
	$(function() {
		$("#side-navigation").tabs({
			show: {
				effect: "fade",
				duration: 400
			}
		});
	});
</script>
