<!-- Footer Widgets
				============================================= -->
<div class="footer-widgets-wrap clearfix">

    <div class="row clearfix">

        <div class="col-lg-6">

            <div class="widget clearfix">
                <div class="row">

                    <div class="col-4 widget_links">
                        <ul>
                            <li><a href="/">Home</a></li>
                        </ul>
                    </div>

                    <div class="col-4 widget_links">
                        <ul>
                            
                            <li><a href="/about_us.html">Portfolio</a></li>
                            
                        </ul>
                    </div>

                    <div class="col-4 widget_links">
                        <ul>
                            <li><a href="/page/contact_us.html">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="d-none d-md-block d-lg-none bottommargin-sm"></div>

        </div>

        <div class="w-100 d-block d-md-block d-lg-none line"></div>

        <div class="col-lg-6">

            <div class="widget subscribe-widget clearfix">
                <h4>Subscribe to Our Newsletter</h4>
                <p>Get Important Offers and Deals directly to your Email Inbox. <em>We never send spam!</em></p>
                <div class="widget-subscribe-form-result"></div>
                <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="nobottommargin">
                    <div style="margin-bottom: -10px;">
                        <div class="row">
                            <div class="col-md-9" style="margin-bottom:10px;">
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email"
                                    class="form-control not-dark required email" placeholder="Enter your Email">
                            </div>
                            <div class="col-md-3" style="margin-bottom:10px;">
                                <button class="btn btn-block btn-success" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <div class="line"></div>

    <div class="row clearfix">

        <div class="col-lg-7 col-md-6">
            <div class="widget clearfix">
                <div class="clear-bottommargin-sm">
                    <div class="row clearfix">

                        <div class="col-lg-6">
                            <div class="footer-big-contacts">
                                <span>Call Us:</span>
                                +977-1-4033517
                            </div>
                            <div class="d-block d-md-block d-lg-none bottommargin-sm"></div>
                        </div>

                        <div class="col-lg-6">
                            <div class="footer-big-contacts">
                                <span>Send an Email:</span>
                                info@snrecruiting.com.np
                            </div>
                            <div class="d-block d-md-none bottommargin-sm"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="d-block d-md-block d-lg-none bottommargin-sm"></div>
        </div>

        <div class="col-lg-5 col-md-6">

            <div class="clearfix" data-class-xl="fright" data-class-lg="fright" data-class-md="fright" data-class-sm=""
                data-class-xs="">
                <a href="http://www.facebook.com/snrecruiting" class="social-icon si-rounded si-small si-colored si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>
<!-- 
                <a href="#" class="social-icon si-rounded si-small si-colored si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>

                <a href="#" class="social-icon si-rounded si-small si-colored si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                </a>

                <a href="#" class="social-icon si-rounded si-small si-colored si-pinterest">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>

                <a href="#" class="social-icon si-rounded si-small si-colored si-vimeo">
                    <i class="icon-vimeo"></i>
                    <i class="icon-vimeo"></i>
                </a>

                <a href="#" class="social-icon si-rounded si-small si-colored si-github">
                    <i class="icon-github"></i>
                    <i class="icon-github"></i>
                </a>

                <a href="#" class="social-icon si-rounded si-small si-colored si-yahoo">
                    <i class="icon-yahoo"></i>
                    <i class="icon-yahoo"></i>
                </a>

                <a href="#" class="social-icon si-rounded si-small si-colored si-linkedin">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a> -->
            </div>

        </div>

    </div>

</div><!-- .footer-widgets-wrap end -->