<section id="content">
	<div class="content-wrap notoppadding clearfix">
		<!-- <div class="container clearfix"> -->

		<section id="content">

			<div class="content-wrap notoppadding clearfix">

				<div class="section nomargin clearfix" style="background-color: #eef2f5;">
					<div class="container clearfix">
						<div class="heading-block center nobottomborder bottommargin topmargin-sm divcenter"
							style="max-width: 640px">
							<h3 class="nott font-secondary t400" style="font-size: 36px;">Jobs we offer</h3>
						</div>


						<div class="row clearfix">
							<!-- Features colomns
							============================================= -->
							<div class="row clearfix">
								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/engineer.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Engineers<span
													class="subtitle t300 ls0">Consultant engineer,Civil
													Engineer....</span></h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/foreman.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Foreman<span class="subtitle t300 ls0">Civil
													Foreman,Mechanical Foreman.</span>
											</h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/accounting.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Accountants<span class="subtitle t300 ls0">Chief
													Accountants,Accountants.</span>
											</h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/officers.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Office Staffs<span class="subtitle t300 ls0">Time
													Keeper,Officeboy,Executive
													Secretary....</span></h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container topmargin clearfix">
					<div class="row clearfix">
						<div class="col-lg-6">
							<div class="heading-block nobottomborder topmargin-sm nobottommargin">
								<h2 class="font-secondary ls1 nott t400">Mores jobs are opening</h2>
								<span>Send us messageto be involved in Skilled Jobs.</span>
								<a href="pages/contact.html"
									class="button button-large button-rounded topmargin-sm noleftmargin">Contact
									us</a>
								<div class="line line-sm"></div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4">
									<div>
										<div class="counter counter-small color"><span data-from="0" data-to="5"
												data-refresh-interval="50" data-speed="1000"></span>+</div>
										<h5 class="color t600 nott notopmargin" style="font-size: 16px;">Partner
											Countries</h5>
									</div>
								</div>

								<div class="col-md-4">
									<div>
										<div class="counter counter-small" style="color: #22c1c3;"><span data-from="0"
												data-to="45" data-refresh-interval="50" data-speed="700"></span>+</div>
										<h5 class="t600 nott notopmargin" style="color: #22c1c3; font-size: 16px;">
											Employed Overseas
										</h5>
									</div>
								</div>

								<div class="col-md-4">
									<div>
										<div class="counter counter-small" style="color: #BD3F32;"><span data-from="0"
												data-to="5" data-refresh-interval="85" data-speed="1200"></span>+</div>
										<h5 class="t600 nott notopmargin" style="color: #BD3F32; font-size: 16px;">
											Professional Staffs
										</h5>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget"
								data-nav="false" data-animate-in="slideInUp" data-animate-out="slideOutUp"
								data-autoplay="5000" data-loop="true" data-stage-padding="5" data-margin="10"
								data-items-sm="1" data-items-md="1" data-items-xl="1">

								<div class="oc-item">
									<div class="testimonial topmargin-sm">
										<div class="testi-content">
											<h3>Our Core Vision </h3>
											<p>We set clear goals at the beginning of each tasks.</p>
										</div>
									</div>

									<div class="testimonial topmargin-sm">
										<div class="testi-content">
											<h3>Our Strength </h3>
											<p>Highly experienced and dedicated team of professionals. </p>
											<p>Well-equipped office space with practical test facilities. </p>
											<p>Wide range of selection opportunities in different fields. </p>
											<p>Worldwide network. </p>
											<p>A pool of valued and satisfied clients around the world.</p>
										</div>
									</div>
								</div>

								<div class="oc-item">
									<div class="testimonial topmargin-sm">

										<div class="testi-content">
											<h3>We Work </h3>
											<ul>
												<li>To work professionally and effectively.</li>
												<li>To achieve deadlines and targets under all circumtances.</li>
												<li>To deliver productivity and excellence.</li>
												<li>To be responsible and committed.</li>
												<li>To create a positive impact on the life of every individual who
													work with us.</li>
												<li>To empower people to help them growth.</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
<!-- 
				<div class="section nobottommargin clearfix">
					<div class="heading-block center nobottomborder nobottommargin divcenter" style="max-width: 640px">
						<h3 class="nott font-secondary t400" style="font-size: 36px;">places you wanna travel</h3>
						<span></span>
					</div>
				</div>

				<div class="masonry-thumbs grid-6" data-big="3" data-lightbox="gallery">
					<a href="demos/pet/images/gallery/1.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/1.jpg" alt="Gallery Thumb 1"></a>
					<a href="demos/pet/images/gallery/2.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/2.jpg" alt="Gallery Thumb 2"></a>
					<a href="demos/pet/images/gallery/3.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/3.jpg" alt="Gallery Thumb 3"></a>
					<a href="demos/pet/images/gallery/4.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/4.jpg" alt="Gallery Thumb 4"></a>
					<a href="demos/pet/images/gallery/5.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/5.jpg" alt="Gallery Thumb 5"></a>
					<a href="demos/pet/images/gallery/6.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/6.jpg" alt="Gallery Thumb 6"></a>
					<a href="demos/pet/images/gallery/7.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/7.jpg" alt="Gallery Thumb 7"></a>
					<a href="demos/pet/images/gallery/8.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/8.jpg" alt="Gallery Thumb 8"></a>
					<a href="demos/pet/images/gallery/9.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/9.jpg" alt="Gallery Thumb 9"></a>
					<a href="demos/pet/images/gallery/10.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/10.jpg" alt="Gallery Thumb 10"></a>
					<a href="demos/pet/images/gallery/11.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/11.jpg" alt="Gallery Thumb 11"></a>
					<a href="demos/pet/images/gallery/12.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/12.jpg" alt="Gallery Thumb 12"></a>
					<a href="demos/pet/images/gallery/13.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/13.jpg" alt="Gallery Thumb 13"></a>
					<a href="demos/pet/images/gallery/14.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/14.jpg" alt="Gallery Thumb 14"></a>
					<a href="demos/pet/images/gallery/15.jpg" data-lightbox="gallery-item"><img
							src="demos/pet/images/gallery/thumbs/15.jpg" alt="Gallery Thumb 15"></a>
				</div> -->
<!-- 
				<div class="section nomargin nobg clearfix">
					<div class="container clearfix">
						<div class="heading-block center nobottomborder divcenter" style="max-width: 640px">
							<h3 class="nott font-secondary t400" style="font-size: 36px;">Our certificates</h3>
							<span>we can provide</span>
						</div>
						<div class="row topmargin clearfix">
							<div class="col-lg-5 d-none d-lg-block">
								<img class="image_fade" src="images/rojgar_certificate.jpeg" />
							</div>
							<div class="col-lg-7 col-md-12">
								<div class="row clearfix">
									<div class="col-md-4 col-6">
										<div class="iproduct">
											<div class="product-image noshadow">
												<a href="#"><img class="image_fade" src="images/rojgar_nabikaran.jpeg"
														alt=""></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="section dark parallax nomargin"
							style="background-image: url('demos/pet/images/others/section-bg.jpg'); padding: 140px 0;"
							data-bottom-top="background-position:0px 50px;"
							data-top-bottom="background-position:0px -300px;">
							<div class="container center clearfix">
								<div class="row clearfix">
									<div class="col-lg-6">
										<div class="heading-block nobottomborder nobottommargin">
											<div class="before-heading lowercase ls1"
												style="color: #FFF; font-style: normal;">want to
												Adopt your a best friend?</div>
											<h3 class="nott font-secondary t400" style="font-size: 32px;">
												Unconditional love is as close
												as your nearest Shelter.</h3>
											<a href="#"
												class="button button-large button-circle button-border button-white button-light topmargin-sm noleftmargin">Get
												a Pet Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container topmargin-lg clearfix">
							<div class="heading-block center nobottomborder divcenter" style="max-width: 640px">
								<h3 class="nott font-secondary t400" style="font-size: 36px;">Need Help?</h3>
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore
									consectetur dolorum,
									voluptatum possimus temporibus vel.</span>
							</div>
							<div class="row contact-properties clearfix">
								<div class="col-md-4">
									<a href="#"
										style="background: url('demos/pet/images/help/1.jpg') no-repeat center center; background-size: cover;">
										<div class="vertical-middle dark center">
											<div class="heading-block nomargin noborder">
												<h3 class="capitalize t400 font-secondary">Hire a Pet Sitter</h3>
												<span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
													795 Folsom Ave, Suite 600<br>
													San Francisco, CA 94107
												</span>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-4">
									<a href="#"
										style="background: url('demos/pet/images/help/2.jpg') no-repeat center center; background-size: cover;">
										<div class="vertical-middle dark center">
											<div class="heading-block nomargin noborder">
												<h3 class="capitalize t400 font-secondary">Report a Stray Dog</h3>
												<span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
													call us<br>
													+91-111-222-333
												</span>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-4">
									<a href="#"
										style="background: url('demos/pet/images/help/3.jpg') no-repeat center center; background-size: cover;">
										<div class="vertical-middle dark center">
											<div class="heading-block nomargin noborder">
												<h3 class="capitalize t400 font-secondary">Report Harassment Dog
												</h3>
												<span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
													Email us<br>
													info@canvas.com
												</span>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

					</div> -->

		</section><!-- #content end -->
		<!-- </div> -->
	</div>
</section>