<section id="content">
	<div class="content-wrap notoppadding clearfix">
		<!-- <div class="container clearfix"> -->
			<div class="content-wrap notoppadding clearfix">

				<div class="section nomargin clearfix" style="background-color: #eef2f5;">
					<div class="container clearfix">
						<div class="heading-block center nobottomborder bottommargin topmargin-sm divcenter"
							style="max-width: 640px">
							<h3 class="nott font-secondary t400" style="font-size: 36px;">Jobs we offer</h3>
						</div>


						<div class="row clearfix">
							<!-- Features colomns
							============================================= -->
							<div class="row clearfix">
								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/engineer.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Engineers<span
													class="subtitle t300 ls0">Consultant engineer,Civil
													Engineer....</span></h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/foreman.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Foreman<span class="subtitle t300 ls0">Civil
													Foreman,Mechanical Foreman.</span>
											</h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/accounting.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Accountants<span class="subtitle t300 ls0">Chief
													Accountants,Accountants.</span>
											</h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img class="image_fade" src="images/officers.jpg"
													alt="Featured Box Image"></a>
										</div>
										<div class="fbox-desc noborder">
											<h3 class="nott ls0 t600">Office Staffs<span class="subtitle t300 ls0">Time
													Keeper,Officeboy,Executive
													Secretary....</span></h3>
											<a href="#" class="button-link noborder color">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" section container topmargin clearfix">
					<div class="row clearfix">
						<div class="col-lg-6">
							<div class="heading-block nobottomborder topmargin-sm nobottommargin">
								<h2 class="font-secondary ls1 nott t400">Mores jobs are opening</h2>
								<span>Send us messageto be involved in Skilled Jobs.</span>
								<a href="pages/contact.html"
									class="button button-large button-rounded topmargin-sm noleftmargin">Contact
									us</a>
								<div class="line line-sm"></div>
							</div>
							<div class="row clearfix">
								<div class="col-md-4">
									<div>
										<div class="counter counter-small color"><span data-from="0" data-to="5"
												data-refresh-interval="50" data-speed="1000"></span>+</div>
										<h5 class="color t600 nott notopmargin" style="font-size: 16px;">Partner
											Countries</h5>
									</div>
								</div>

								<div class="col-md-4">
									<div>
										<div class="counter counter-small" style="color: #22c1c3;"><span data-from="0"
												data-to="45" data-refresh-interval="50" data-speed="700"></span>+</div>
										<h5 class="t600 nott notopmargin" style="color: #22c1c3; font-size: 16px;">
											Employed Overseas
										</h5>
									</div>
								</div>

								<div class="col-md-4">
									<div>
										<div class="counter counter-small" style="color: #BD3F32;"><span data-from="0"
												data-to="5" data-refresh-interval="85" data-speed="1200"></span>+</div>
										<h5 class="t600 nott notopmargin" style="color: #BD3F32; font-size: 16px;">
											Professional Staffs
										</h5>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget"
								data-nav="false" data-animate-in="slideInUp" data-animate-out="slideOutUp"
								data-autoplay="5000" data-loop="true" data-stage-padding="5" data-margin="10"
								data-items-sm="1" data-items-md="1" data-items-xl="1">
								{% for y in articles|findbytag(tag="goals") %}
								<div class="oc-item">
									<div class="testimonial topmargin-sm">
										<div class="testi-content">
											<h3>{{y.title}}</h3>
											{{y.content}}
										</div>
									</div>


								</div>
								{% endfor %}


							</div>
						</div>

					</div>
				</div>

				<div class="section nobottommargin clearfix">
					{% with gal=articles|findbyslug(slug="destination") %}
					<div class="heading-block center nobottomborder nobottommargin divcenter" style="max-width: 640px">
						<h3 class="nott font-secondary t400" style="font-size: 36px;">{{gal.title}}</h3>
						<span></span>
					</div>
					{% endwith %}
				</div>

				<div class="masonry-thumbs grid-3" data-lightbox="gallery">
					<div class="row clearfix">
						{% with partners=articles|findimagelist(slug="destination") %}
						{% for art in partners %}
						<div class="col-lg-3 col-md-6 bottommargin-sm">
							<div class="feature-box media-box fbox-bg">
								<div class="fbox-media">
									<a href="#"><img class="image_fade" src="/images/thumbnails/{{art}}"
											alt="Featured Box Image"></a>
								</div>
								<div class="fbox-desc noborder">
									<h3 class="nott ls0 t600">{{art.title}}<span class="subtitle t300 ls0"></span></h3>
									<a href="#" class="button-link noborder color">Show More</a>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endwith %}
					</div>
				</div>
			</div>
		
	</div>
</section>