{% with slider= tags|sliders %}
<!-- <section id="slider" class="slider-element slider-parallax"
    style="background: url('/images/{{slider.0.image}}'); background-size: cover;" data-height-xl="670"
    data-height-lg="500" data-height-md="400" data-height-sm="250" data-height-xs="200">
    <div class="slider-parallax-inner">
        <div class="container clearfix">
            <div class="vertical-middle center">
                <div class="heading-block nobottomborder center">
                    <h1>
                        <div class="text-rotater" data-separator="|" data-rotate="flipInX" data-speed="3500">
                            {{slider.1.title}}  
                        </div>
                    </h1>
                </div>
                

            </div>
        </div>
    </div>
</section> -->
<section id="slider" class="slider-element full-screen clearfix"
    style="background: url('/images/{{slider.0.image}}') center right no-repeat; background-size: cover;">
    <div class="vertical-middle">
        <div class="container clearfix">

            <div class="emphasis-title dark">
                <h2
                    style="font-size: 40px; line-height: 1.4; font-weight: 600; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.288);">
                    Jobs earn our living.<br>Seek Job Abroad</h2><br>
                <p class="t300" style="color: #000 ;font-size: 16px; opacity: .7; font-weight:300;">While you can earn while moving around, <br/> you
                    experience
                    international quality of jobs with <br>International Life Standard,<br>Don't miss your Chances</p>
                <a href="#" class="button button-large button-rounded noleftmargin">Join Us Now</a><span
                    class="leftmargin-sm">+</span>
                <a href="#" class="button nobg noshadow"><i class="icon-gift"
                        style="width: 40px; font-size: 40px; top: 10px;"></i></a>
                <br><em><small style="opacity: 0.4;">Many open positions</small></em>

            </div>

        </div>
    </div>
</section>
{% endwith %}
